---
import { SEO } from "astro-seo";
import Footer from "@components/Footer.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/marjeda-web-site/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "MARJEDA INDUSTRIAL"
  : "MARJEDA INDUSTRIAL - BIENVENIDO";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/marjeda-web-site/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO
      title={makeTitle}
      description="Optimizamos suministros y mantenimiento para máxima eficiencia."
      canonical={canonicalURL}
      twitter={{
        creator: "@josafatmtzdev",
        site: "bigcreator.dev",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `MARJEDA INDUSTRIAL | ${title}`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Marjeda Industrial Homepage Screenshot",
        },
        optional: {
          locale: "es_MX",
          description:
            "Optimizamos suministros y mantenimiento para máxima eficiencia.",
        },
      }}
    />
  </head>
  <body>
    <slot />
    <Footer />
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      main {
        flex-grow: 1;
      }
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>